body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.hero {
    background: black;
    color: white;
    padding: 40px;
    text-align: center;
}

.productos {
    padding: 20px;
    text-align: center;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
}

.item img {
    width: 100%;
    border-radius: 10px;
}
